body {
  padding-top: 0px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}
#feature-box{
  min-height: 400px;
}
.dropdown-menu{
  top: 115%;
  border-radius: 0px;
}
.nav-item {
    font-size: .875rem;
    color: var(--secondary);
}
.nav-item {
    display: block;
    padding-left: .5rem;
}
